.wrap-container {
    background-color: #4e5255;
    padding: 36px 5px 20px 5px;
}

.header {
    padding-top: 25px;
    height: 80px;
    background-color: #dddddd;
}

.text-color {
    color: #707070;
}

#content {
    padding: 0;
}

.logo {
    padding: 70px 0;
}

.introduction h2, .introduction-body p, .rule h1, .rule-body p {
    margin: 0;
}

.introduction-body {
    padding: 30px 0 100px 0;
    color: #727373;
    font-size: 22px;
    line-height: 1.6em;
}

.grid {
    padding: 10px 0;
    display: grid;
    text-align: right;
    grid-template-columns: 35% 1fr;
    grid-column-gap: 50px;
    margin-bottom: 30px;
}

.form-header {
    padding: 10px 0;
    margin-bottom: 30px;
}

.text-left {
    text-align: left;
}

main {
    width: 70%;
    margin: auto;
}

.form-group label {
    line-height: 60px;
    font-size: 22px;
}

.label-span {
    border-radius: 100px;
    padding: 9px 18px;
    margin-left: 10px;
    font-size: 18px;
    background-color: #DC4848;
    color: #FFFFFF;
}

.message {
    color: #A2A9BF;
}

#group-name {
    padding: 0;
}

.custom-input {
    height: 60px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #343a40;
}

.rule-body {
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
}

.btn-send {
    margin: 80px 0;
    padding: 0 30px;
    background-color: #4f5791;
    border: none;
    font-size: 22px;
    border-radius: 60px;
    height: 60px;
}

.footer {
    padding: 10px 20px;
}